@model EnergySystem.Web.ViewModels.Property.CreateInputModel
@{
    this.ViewData["Title"] = "Add new property";
    var gridsItems = this.Model.GridsItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<form method="post">
    <h1>@this.ViewData["Title"]</h1>
    <div class="form-group">
        <label for="name">Property Name</label>
        <input type="text" id="name" name="Name" class="form-control" required/>
    </div>

    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" id="address" name="Address" class="form-control" required/>
    </div>

    <div class="form-group">
        <label for="electricityNeed">Electricity Need (kWh)</label>
        <input type="number" id="electricityNeed" name="ElectricityNeed" step="0.01" class="form-control" required/>
    </div>

    <div class="form-group">
        <label asp-for="GridId"></label>
        <select asp-for="GridId" class="form-control" asp-items="gridsItems"></select>
        <span asp-validation-for="GridId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Property</button>
</form>

